// {{.Name}}data represents the {{.Name}} subrecord.
type {{.Name}}data struct {
	Path string
}

func (h *{{.Name}}data) Tag() esm.SubrecordTag { return {{.Name}} }

func (h *{{.Name}}data) Unmarshal(sub *esm.Subrecord) error {
	if h == nil || sub == nil { return esm.ErrArgumentNil }
	h.Path = string(sub.Data)
	return nil
}

func (h *{{.Name}}data) Marshal() (*esm.Subrecord, error) {
	buff := new(bytes.Buffer)
	if _, err := buff.WriteString(h.Path); err != nil { return nil, err }
	return &esm.Subrecord{Tag: h.Tag(), Data: buff.Bytes()}, nil
}
